<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.157" targetFramework="net452" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="1.4.1.485" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="4.0.0-rc2-16098" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.2.0-rc" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.2.0-rc" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Commands" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational.Design" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Design" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Debug" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc2-20100" targetFramework="net461" />
  <package id="Microsoft.Framework.Caching.Abstractions" version="1.0.0-rc1-15658" targetFramework="net461" />
  <package id="Microsoft.Framework.Caching.Memory" version="1.0.0-rc1-15658" targetFramework="net461" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-rc1-15666" targetFramework="net461" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-rc1-15666" targetFramework="net461" />
  <package id="Microsoft.Framework.Configuration.Binder" version="1.0.0-rc1-15666" targetFramework="net461" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-rc1-15644" targetFramework="net461" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-rc1-15644" targetFramework="net461" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-rc1-15644" targetFramework="net461" />
  <package id="Microsoft.Framework.Logging.Abstractions" version="1.0.0-rc1-15644" targetFramework="net461" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-rc1-15642" targetFramework="net461" />
  <package id="Microsoft.Framework.Primitives" version="1.0.0-rc1-15685" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.0.2" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11-rc2-23826" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.2.0-rc2-23826" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11-rc2-23826" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0-rc2-23826" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11-rc2-23826" targetFramework="net461" />
  <package id="System.IO" version="4.0.10" targetFramework="net46" />
  <package id="System.Linq" version="4.1.0-rc2-23826" targetFramework="net461" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.0.1-rc2-23826" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.2.0" targetFramework="net461" />
  <package id="System.Reflection.Primitives" version="4.0.1-rc2-23826" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1-rc2-23826" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0-rc2-23826" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.1.0-rc2-23826" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.PInvoke" version="4.0.0-rc2-23826" targetFramework="net461" />
  <package id="System.Text.Encoding" version="4.0.11-rc2-23826" targetFramework="net461" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11-rc2-23826" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11-rc2-23826" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.0.10" targetFramework="net46" />
</packages>